<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
     integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
      
    <style>
        @font-face {
        font-family: 'Fallout';
       src: url('/public/assets/fonts/JH_FALLOUT.TTF');
        }

        body {
            font-family: 'Fallout';
        }
        
    </style>
 
    

    <title>
        
    </title>

  </head>

  <body >
    <header>
        <h1>Resume-pocalypse</h1>
        {{#if logged_in}}
            <nav>
                Hello {{user.firstName}}
                <button class="btn" id="logout">logout</button>
            </nav>
            {{else}}
            <nav>
                <h3>Please sign in</h3>
            </nav>
        {{/if}}
    </header>

    <main>
      {{{body}}}
    </main>
</body>

</html>