<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>

<body>
    <header>
        <h1>Resume-pocalypse</h1>
        {{#if logged_in}}
            <nav>
                Hello {{user.firstName}}
                <button class="btn" id="logout">logout</button>
            </nav>
            {{else}}
            <nav>
                <h3>Please sign in</h3>
            </nav>
        {{/if}}
    </header>

    <main>
       {{{body}}}
    </main>
</body>

</html>