<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>

<body>
    <header>
        <h1>Resume-pocalypse</h1>
    </header>
    
    
    <nav>
    </nav>

    <main>
       {{{body}}}
    </main>
</body>

</html>