<br>
<div id="game-template" class="text-center">
    <div id="game-container">
        <p id="q-and-a-list">

        </p>
        <form id="answer-form">
            <input type="text"  id="answer-box">
        </form>
    </div>
</div>

<script src="./js/gamelogic.js"></script>
