<div id="game-template" class="text-center">

    <div id="game-container">

        <p id="q-and-a-list">
            {{!-- <li>
                <h2 class="question-container">Question text</h2>
            </li> --}}
        </p>

        <form id="answer-form">
            {{!-- <textarea id="answer-box" rows="2" cols="50">Type your answer here.</textarea> --}}
            <input type="text"  id="answer-box">
            {{!-- <input type="button" id="next-button"> --}}
        </form>
        
        {{!-- {{#if hasNext}}
            <button class="btn btn-primary" id="next-button">Next</button>
        {{/if}} --}}

    </div>

</div>

<script src="./js/gamelogic.js"></script>
