<br>
<div id="game-template" class="text-center">
    <div id="game-container">
        <p id="q-and-a-list">

        </p>
        <form id="answer-form">
            <input type="text"  id="answer-box">
        </form>
        <button id="submit-btn" style="display: none;">Submit</button> <!--added this button for submitting when user answers final answer

    </div>
</div>

<script src="./js/gamelogic.js"></script>
