<div>
    <h2>Welcome to the Homepage</h2>
    <button class='signup-button'>Sign Up</button>
    <button class='login-button'>Log in</button>
    <button class= 'btn btn-primary play-button'>Play game</button>
</div>
<script src="/js/homepage.js"></script>
