<body>
    <div class="text-center">
        <h2>Welcome to the Homepage</h2>
        <button class='btn btn-primary signup-button'>SIGN UP</button>
        <button class='btn btn-primary login-button'>LOG IN</button>
        <button class='btn btn-primary play-button'>PLAY GAME</button>
    </div>
    <script src="/js/homepage.js"></script>
</body>
