@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* @import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"); */

* {
  font-family: "Chakra Petch", sans-serif;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: linear-gradient(to bottom, #676666 30%, #171717 100%);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-self: center;
  align-content: center;
  color: #33d633;
}

/* Apply styles to the container element */

.login-card {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  padding: 20px;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  background-color: #325886;
  color: #fef265;
  border: 1px solid #ccc;
  border-radius: 55px;
}

.login-card .form-input {
  color: black;
}

.signup-card {
  width: 300px;
  height: 555px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  padding: 20px;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  background-color: #325886;
  color: #fef265;
  border: 1px solid #ccc;
  border-radius: 55px;
}

.signup-card .form-input {
  color: black;
}

.userdata-card {
  width: 315px;
  height: 740px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  padding: 20px;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  background-color: #325886;
  color: #fef265;
  border: 1px solid #ccc;
  border-radius: 55px;
}

.userdata-card .form-input {
  color: black;
}

#answer-box {
  color: black;
  font-family: "Chakra Petch", sans-serif;
  list-style: none;
  font-size: 20px;
}

#game-container {
  margin: 100px;
}

/* Style the heading */
.page-title {
  /* font-family: "VT323", monospace; */
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style the form */
.container form {
  display: grid;
  gap: 10px;
}

/* Style the form inputs */
.container input[type="text"],
.container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style the submit button */
/* .container button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
} */

.container button[type="submit"]:hover {
  background-color: #45a049;
}

.pocalypse {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  padding-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 50px;
  bottom: 0;
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: row;
  color: #33d633;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    font-size: 14px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    font-size: 20px;
  }
}
