@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Fallout';
    font-weight: normal;
    src: url('public/assets/fonts/JH_FALLOUT.TTF') format('truetype');

font-family: 'VT323', monospace;
font-family: 'Chakra Petch', sans-serif;
}
/* Apply styles to the container element */
.login-card {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:bisque;
    border: 1px solid #ccc;
    border-radius: 55px;
  }
  
  /* Style the heading */
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style the form */
  .container form {
    display: grid;
    gap: 10px;
  }
  
  /* Style the form inputs */
  .container input[type="text"],
  .container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style the submit button */
  .container button[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .container button[type="submit"]:hover {
    background-color: #45a049;
  }
  h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: blue;
    text-align: center;
  }